*{
    margin: 0;
    
}
body{ 

    background-color: aquamarine;
      font-family: "Exile", system-ui;
  font-weight: 400;
  font-style: normal;

}
img{
    border-radius: 40px;
}
ul{
    display: flex;
    list-style: none;
    text-align: center;
    align-content: space-evenly;
}
li{
    align-content: space-evenly;
}
.nav{
    background-color: bisque;

}
.box{
    background-color: rgb(169, 112, 43);
    margin: 0px 150px;
    border-radius: 15px;
}
input{
    border-radius: 15px;
    height: 30px;
}
button{
    border-radius: 15px;
    height: 40px;
}
table{
    border: 2px solid black;
}